html {
	scrollbar-color: blue;
	scrollbar-width: thin;
	font-family: Georgia, 'Times New Roman', Times, serif !important;
	font-weight: bold !important;
}
.bg {
	background: rgba(0, 0, 0, 0.5);
}
.header {
	border-radius: 8px;
	height: auto;
	width: auto;
	background-color: purple;
	margin: 30px;
}
.header_txt {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: auto;
	font-weight: bolder  !important;
	text-align: center;
	color: rgb(242, 4, 255);
}
.angola_txt {
	font-family: Georgia, "Times New Roman", Times, serif !important;
	font-size: 28px !important;
	font-weight: bold !important;
	width: 300px !important;
	height: auto !important;
	display: table !important;
	margin: 30px !important;
	text-align: center !important;
	background-color: whitesmoke !important;
	border-radius: 8px !important;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5) !important;
	border: solid 2px;
}
.angola_box {
	width: fit-content;
	min-width: 20rem;
}
img.displayed {
	width: 300px;
	height: 300px;
	display: table;
	margin: 30px;
	border-radius: 8px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}
img.displayed:hover {
	transform: scale(1.5);
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-weight: bold !important;
}
.container2 {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #000000;
}
::-webkit-scrollbar-thumb {
	background: rgba(234, 0, 255, 0.364);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(170, 0, 255);
}
.hidden {
	display: none;
}
.envio_angolano {
	margin-left: 25%;
	width: 50%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.vrido {
	background: rgba(255, 255, 255, 0.25) !important;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(15px) !important;
	border-radius: 10px !important;
	border: 1px solid rgba(255, 255, 255, 0.18) !important;
	margin-top: 10px !important;
	justify-content: center;
}
.w3-button {
	top: 0   !important;
	right: 0 !important;
	background-color: #000000 !important;
	color: whitesmoke !important;
	transition: all 0.3s !important;
	transform: translate(-0%, -0%) !important;
}
.w3-button:hover {
	color: white !important;
	transform: scale(1.5) !important;
	background: url("https://pbs.twimg.com/profile_images/1334214272478552071/J9QdMOLw_400x400.jpg") !important;
	background-size: cover !important;
}